<h1 class="headline">{{options.title}}</h1>
  <!--<div class="main-image"><img src="images/{{options.mainpic}}" alt=""/></div> -->
<div class="intro">{{{linebreaks options.intro}}}</div>


<div class="content" class="o-grid-row"></div>
<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status={{options.twitterText}}">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="{{options.facebookText}}">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="{{options.linkedinText}}">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="byline"></div>